.profile-info {
    background:rgba(23, 20, 20, 0.70);
    padding-bottom: 3em;
}

.profile-header {
    float: right;
    position: relative;
    min-height: 1px;
    margin-top: 2em;
    padding-right: 2em;
}

/*FOR THE PROFILE PHOTO*/

.profile-pic img{
    float: left;
    width: 40%;
    object-fit: contain;
    position: relative;
    vertical-align: center;
    margin-top: 3.5em;
    margin-left: 4em;
    padding-right: 10px;
    padding-left: 15px;
    transition: transform 0.5s;
}

/*FOR THE LIST ITEMS*/
ul.my-info {
    list-style: none;
    border-top: 3px solid #AFAFAF;
    margin-top: 10px;
    padding: 2px;
}

.my-info ul li{
    display: inline-block;
    width: 50%;
    margin-top: 20px;
    font-weight: 400;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
}

ul.my-info li ul.name-info li a:hover{
    color: Chocolate;
}

ul.my-info li ul.name-info li:nth-child(1){
	width: 33%;
}

/*FOR THE HEADER*/
.profile-header h1 {
    font-size: 2.5em;
    font-weight: bold;
}
.profile-header h1 {
    font-size: 1.2em;
    background: LightSeaGreen;
    display: inline-block;
    padding: .5em 1.5em;
    position: relative;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}


/* For the about me section*/
.about-me {
    background: #eee;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    
}

.about-me-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side {
    position: relative;
    width: 500px;
}

.left-side img {
    width: 100%;
    height: 100%;
}
.right-side {
    position: relative;
    width: 500px;
    margin-top: 75px;
    margin-left: 50px;
}

.right-side h2 {
    position: relative;
    margin-top: -100px;
    font-weight: 600
}
.right-side span {
    margin-bottom: 20px;
    width: 80px
}

.right-side span p {
    font-weight: 500;
    color: rgba(0,0,0,0.5);
}

.calculator-video {
    width: 100%;
    margin-bottom: 30px;
}


/* For the skills section */
.software-skills-bar {
    float: left;
    background: #fff;
    width: 550px;
    margin-right: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}
.programming-skills {
    float: right;
    background: #fff;
    width: 550px;
    margin-left: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.bar h4, .bar2 h4 {
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 16px;
    margin-left: 10px;
}

.software-skills-bar h2, .programming-skills h2 {
    text-align: center;
    font-size: 22px;
    margin-top: 15px;
}

.bar, .bar2 {
    padding: 15px;
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}

.bar span, .bar2 span {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 20px;
    background: #000;
    border-radius: 50px;
}

abbr.percent {
    margin-left: 10px;
    text-align: center;
    z-index: 1;
    color: #fff;
    background: #000;
    font-size: 16px;
    padding: 1px 8px;
    border-radius: 10px;
}
.bar span:before {
    background: linear-gradient(to left, #ff0057, #ffeb3b);
}

.bar2 span:before {
    background: linear-gradient(to left, #00ff99 0%, #cc33ff     100% )
}

.bar span:before, .bar2 span:before {
    position: absolute;
    content: "";
    top: 6px;
    left: 5px;
    height: 50%;
    width: 80%;
    border-radius: 50px;
    animation: bar 4s ease;
}


@keyframes bar , @keyframes bar2{
    from {
        width: 0;
    }
}

.bar:nth-child(1) span:before{
    width: 80%;
}
.bar:nth-child(3) span:before{ 
    width: 70%;
}
.bar:nth-child(4) span:before{ 
    width: 80%;
}
.bar:nth-child(5) span:before{ 
    width: 80%;
}
.bar:nth-child(6) span:before{ 
    width: 70%;
}
.bar:nth-child(7) span:before{ 
    width: 50%;
}
.bar:nth-child(8) span:before{ 
    width: 70%;
}

.bar2:nth-child(1) span:before{
    width: 85%;
}
.bar2:nth-child(3) span:before{ 
    width: 75%;
}
.bar2:nth-child(4) span:before{ 
    width: 75%;
}
.bar2:nth-child(5) span:before{ 
    width: 75%;
}
.bar2:nth-child(6) span:before{ 
    width: 80%;
}
.bar2:nth-child(7) span:before{ 
    width:80%;
}

@media (max-width: 1200px) { 
    .software-skills-bar{
        width: 450px;
    }
    .programming-skills {
        width: 450px;
    }    
}

@media (max-width: 992px) { 
    .software-skills-bar{
        width: 350px;
        margin-left: -20px;
    }
    .programming-skills {
        width: 350px;
    } 

    
    .profile-info {
        max-width: 900px;
        width: 700px;
    }
    .profile-header {
        width: 50%;
         
    }
    .profile-pic{
        width: 80%;
    }
    ul.my-info {
        padding-right: 10px;
    }
    .my-info ul li{ 
        display: 
        margin-left:-5px;
        font-size: 14px;
    }
    
    
}

@media (max-width: 770px) {
    .software-skills-bar{
        position: relative;
        width: 500px;
        margin-left: 100px;
        
    }
    .programming-skills {
        position: relative;
        width: 500px;
        margin-left: 100px;
        margin-top: 50px;
    } 
    
    .right-side {
        width: 400px;
        margin-right: 20px;
        font-size: 12px;
    }
    .right-side h2 {
        margin-top: 0px;
        font-size: 18px;
    }
    
    .profile-info {
        position: relative;
        padding-top: 100px;
        margin-top: 20px;
        
    }
    .profile-header {
        float: none;
        display: inline-block;
        padding: 0px;
         
    }
    .profile-pic{
        display: block;
        width: 900px;
    }
    
    ul.my-info {
        padding-right: 10px;
    }
    .my-info ul li{
        display: inline-block;
        margin-left:-5px;
        font-size: 14px;
    }
    
    
}

@media (max-width: 500px) {
    .software-skills-bar{
        position: relative;
        margin-left: 20px;
        
    }
    .programming-skills {
        position: relative;
        margin-left: 20px;
        margin-top: 50px;
        margin-right: 20px;
    } 
    .about-me-container{
        display: block;
    }
    
    .left-side{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 5px;
    }
    .right-side{
        width: 100%;
        margin-left: 10px;
        font-size: 14px;
        margin-left: 10px;
        margin-right: 10px;
        padding-right: 15px;
        margin-top: 5px;
    }
    .right-side h2{
        text-align: center;
        font-size: 26px;
    }
    .social-links2{
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }
    
    .profile-info {
        display: block;
        margin: 0px;
        width: 100%;
    }
    
    .profile-header {
        float: none;
        position: relative;
        min-width: 100%;
        margin: 0px;
        padding-right: 0px;
    }
    .profile-header h1 {
        font-size: 18px;
    }
    
    .profile-pic {
        width: 170%;
        margin: 0px;
    }
    ul.my-info li{
        font-size: 11px;
    }
    ul.my-info li ul.name-info li:nth-child(1){
        width: 30%;
        font-size: 12px;
    }
    
}











